.listeningPractice,
.title {
  text-decoration: none;
  color: inherit;
}
.listeningPractice {
  position: relative;
}
.title {
  cursor: pointer;
  align-self: stretch;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 7;
  text-align: center;
  font-size: var(--font-size-xl);
}
.artist,
.trackTitle {
  position: relative;
}
.artist {
  text-align: right;
}
.playerTop {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.play {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.pause,
.pause:hover,
.play,
.play:hover {
  cursor: pointer;
}
.pause {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: right;
  display: inline-block;
}
.player,
.playerBottom {
  align-self: stretch;
  display: flex;
}
.playerBottom {
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  text-align: center;
}
.player {
  border: 1px solid var(--color-white);
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  z-index: 6;
}
.thisMostRecent {
  margin: 0;
  flex: 1;
  position: relative;
}
.player1,
.postDescription {
  align-self: stretch;
  border: 1px solid var(--color-white);
  display: flex;
  padding: var(--padding-sm);
  justify-content: flex-start;
}
.postDescription {
  flex-direction: row;
  align-items: flex-start;
  z-index: 5;
  text-align: justify;
  font-size: var(--font-size-base);
}
.player1 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  z-index: 4;
}
.postDescription1 {
  flex-direction: row;
  align-items: flex-start;
  z-index: 3;
  text-align: justify;
  font-size: var(--font-size-base);
}
.player2,
.postDescription1,
.postDescription2 {
  align-self: stretch;
  border: 1px solid var(--color-white);
  display: flex;
  padding: var(--padding-sm);
  justify-content: flex-start;
}
.player2 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
  z-index: 2;
}
.postDescription2 {
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
  text-align: justify;
  font-size: var(--font-size-base);
}
.about,
.archive1 {
  cursor: ne-resize;

  text-decoration: none;
  position: relative;
  color: inherit;
}
.archive1 {
  text-shadow: 0 4px 4px rgba(13, 0, 235, 0.5);
}
.about {
  text-align: right;
}
.archive,
.menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.menu {
  align-self: stretch;
  flex-direction: row;
  z-index: 0;
  font-size: var(--font-size-lg);
}
.archive {
  position: relative;
  background-color: var(--background-gradient-color);
  background-image: var(--background-gradient-image);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-lg);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
